/*font*/
@font-face {
    font-family: jack-input;
    src: url('./fonts/JAi_____.TTF');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: arinoe;
    src: url('./fonts/Arinoe.ttf');
    font-weight: 800;
    font-style: normal;
}
/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: jack-input;
}
body{
    background-color: whitesmoke;
    word-wrap: break-word;
    position: relative;
    min-height: 100vh;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
h1,h2,h3{
    font-family: arinoe;
}
.input{
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
}
.title{
    min-width: 30VW;
}
.btn{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    font-size: large;
    border: none;
    border-radius: 10px;
    padding: 12px;
    gap: 8px;
}
.btn.red{
    background-color: lightcoral;
    justify-content: center;
}
.btn.green{
    background-color: lightgreen;
    justify-content: center;
}
.disabled{
    pointer-events: none;
    opacity: 50%;
}
.btn:hover{
    filter: brightness(90%);
}
.side{
    background-color: peachpuff;
}
.edit-btn{
    border: none;
    width: 20px;
    height: 20px;
    background-image: url('./icons/pencil.png');
    background-size: 20px;
    background-color: peachpuff;
    border-radius: 10px;
}
.delete-btn{
    border: none;
    width: 20px;
    height: 20px;
    background-image: url('./icons/trash-can.png');
    background-size: 20px;
    background-color: peachpuff;
    border-radius: 10px;
    padding: 10px;
}
.edit-btn:hover{
    transform: scale(1.3);
}
.delete-btn:hover{
    transform: scale(1.3);
}
.close-btn{
    border: none;
    width: 20px;
    height: 20px;
    background-image: url('./icons/close-circle-outline.png');
    background-size: 20px;
    background-color: peachpuff;
}
.close-btn:hover{
    transform: scale(1.3);
}

/*header*/
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    padding: 20px 60px;
    color: white;
    background-color: royalblue;
}
.label{
    display: flex;
    align-items: center;
    font-size: larger;
    gap: 10px;
}
.logo{
    max-width: 60px;
}
.icon{
    max-width: 20px;
}

/*sidebar*/
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(0, 0, 0);
    font-size: x-large;
    background-color: peachpuff;
    height: 85vh;
    gap: 10px;
    padding: 15px;
}
/* scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: whitesmoke;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: royalblue;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: royalblue;
} 
.error{
    display: none;
    color: red;
    font-size: medium;
    font-family: jack-input;
    padding: 0px 10px;
}
.error.active{
    display: block;
}
.project-grid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 45vh;
    overflow-y: scroll;
    width: 100%;
    
}
#addProjectForm{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 94%;
    gap: 8px;
    margin-left: 4px;
    align-items: center;
    justify-content: space-between;
}
#projTitle{
    grid-column: 1/3;
}
.proj-icon{
    border: none;
    min-width: 20px;
    height: 20px;
    background-image: url('./icons/format-list-checkbox.png');
    background-size: 20px;
    background-color: peachpuff;
}
.project-container{
    display: grid;
    grid-template-columns: 12fr 1fr;
    align-items: center;
    font-size: large;
    background-color: peachpuff;
    border-radius: 10px;
    padding-right: 10px;
    margin-left: 4px;
    width: 94%;
}
.project-container:hover{
    filter: brightness(90%);
}
.project-left{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: peachpuff;
    border: none;
    border-radius: 10px;
    font-size: large;
    gap: 10px;
    padding: 10px;
}

/*main*/
.main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}
.task-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 25px;
    gap: 15px;
    font-size: x-large;
}
.task-grid{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    overflow-y: scroll;
    height: 70vh;
    margin-right: 6px;
}
.add-task-form{
    display: flex;
    flex-direction: column;
    background-color: peachpuff;
    border-radius: 10px;
    padding: 15px;
    gap: 10px;
    min-width: 200px;
    margin-right: 6px;
}
.textarea{
    min-width: 20vw;
}
.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.prio-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 20vw;
    gap: 10px;
}
.task{
    display: grid;
    grid-template-columns: 0.5fr 7fr 1.5fr 0.5fr 0.5fr;
    justify-content: start;
    align-items: center;
    font-size: large;
    gap: 4px;
    padding: 10px;
    background-color: peachpuff;
    border-radius: 10px;
    margin-right: 6px;
}
.completed{
    text-decoration: line-through;
    opacity: 50%;
}
#addTaskBtn{
    align-self: flex-start;
}

/*footer*/
.footer{
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    color: white;
    background-color: royalblue;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
}



